@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 110%;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}



/*Navigation Bar*/
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  top: 15px;
  background: transparent;
  position: fixed;
  z-index: 1;
  transition: top 0.3s; 
}

.navbar_left, .navbar_right {
  display: flex;
  align-items: center;
  border-radius: 45px;
  padding: 15px;
  height: 30px;
}

.navbar_left {
  background-color: #F2FCFF;
  margin-left: 120px;
  width: 200px;
  justify-content: center;
  height: 50px;
}

.navbar_right {
  background-color: #F2FCFF;
  margin-right: 120px;
  justify-content: space-between;
  height: 50px;
}

.nav_links {
  display: flex;
  align-items: center;
}

.nav_links a {
  text-decoration: none;
  color: rgb(101, 64, 64);
  font-size: 14px;
  margin: 0 20px;
}

.nav_links a:hover {
  color: #17AFEF;
}

.nav_buttons {
  display: flex;
  align-items: center;
}

/*Navigation bar sign up button*/
.signup_button {
  background-color: transparent; 
  border: 2px solid #17AFEF; 
  color: #17AFEF; 
  padding: 5px 32px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  text-decoration: none;
  margin-left: 10px;
}

.signup_button:hover {
  background-color: transparent; 
  border: 2px solid #DE732D; 
  color: #DE732D; 
}

/*Navigation bar sign in button*/
.signin_button {
  background-color: #17AFEF;
  padding: 7px 32px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 14px; 
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-left: 10px;
}

.signin_button:hover {
  background-color: #DE732D;
  color: white;
}





/*cONTAINER*/

.container {
  background-color: #fff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 850px;
  width: 100%;
}

.booking-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.tab-link {
  background-color: #d5effa;
  border: none;
  height: 50px;
  width: 33.333333%;
  cursor: pointer;

  color: #333;
  font-weight: 500;
}

.tab-link.active {
  background-color: #17afef;
  color: white;

}

.tab-content {
  display: none;
}

.form-row {
  display: flex;
justify-content: space-between;
  margin-bottom: 15px;
}

.form-row label {
  flex-basis: 30%;
  color: #333;
}

.form-row input, 
.form-row select {
  flex-basis: 65%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.btn {
  padding: 8px;
  background-color: #17afef;
  color: white;
  border: none;
  border-radius: 60px;
  font-size: 16px;
  width: 30%;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  background-color: #17afef;
}